body,
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    background-color: #f9f4e8;
}

.main{
    padding: 30px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo,
.join{
    display: flex;
    align-items: center;
}

.badge {
    background: linear-gradient(to right, #ad49eb, #eb49b4);
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    border: 0;
    padding: 5px 10px;
    text-decoration: none;
}

.badge:focus{
    outline: none !important;
}

.list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.item {
    font-size: 2rem;
    color: #525252;
    cursor: pointer;
}

.join {
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: #4977ea;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    outline: 0;
    padding: 1rem;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1024px){

    .main{
        padding: 30px 25px;
    }

    
    .features,
    .join{
        display: none;
    }
    
    .hamburger{
        display: flex;
        flex-direction: column;
    }
    .line {
        width: 25px;
        height: 5px;
        margin-top: 2px;
        background: #000;
        display:block;
    }

}

@media screen and (max-width: 768px){
    .line {
        height: 4px;
    }
}

@media screen and (max-width:400px){
    .badge{
        display: none;
    }
}


